.center-col {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

input {
    width: 100%;
    outline: 0;
    border: 0;
    font-size: inherit;
    padding: 0.25em;
}

#add-workitem-button {
  background-color: #24bfff;
  color: white;
  margin-left: 0.5em;
  outline: none;
  padding: 0.5em 1em;
  border: none;
  font-size: inherit;
}
button:hover {
    cursor: pointer;
}
button:active {
  background-color: #21ade7;
}

.container {
    background-color: lightgray;
    padding: 1em;
    font-size: 1.5em;
}

#workitem-list {
    margin-top: 1em;
}

.workitem-display {
  background-color: white;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}
